@media only screen and (min-width:850px){
    .nombre{
        font-size: 20px;
    }
    .foto{
        height: 120px;
    }
    .mainButton {
        height: 300px;
    }
}

    @media only screen and (max-width:850px){
        .mainButton {
            width: 40%;
            height: 250px;
        }
        .header {
            display: grid;
            grid-template-columns: 4fr 3fr 2fr;
        }
    }


    @media only screen and (max-width:400px){
        .nombre{
            font-size: 14px;
        }
        .mainButton {
            width: 100%;
            height: 230px;
        }
        .header {
            display: grid;
            grid-template-columns: 4fr 3fr 2fr;
        }
        .searchBox {
            width: 40%;
        }
        .indexCards {
            display: flex;
            flex-direction: column;
        }
        .nav__item {
            font-size: 13px;
        }
    }
    @media only screen and (max-width:540px){
        .indexCards {
            flex-direction: column;}
    }

