@media only screen and (min-width:850px){
    .foto{
        height: 120px;
    }
    .picture{
        height: 400px;
        object-fit: cover;
    }
    .mainButton {
        height: 40%
    }
}

@media only screen and (max-width:850px){
    .mainButton {
        width: 40%;
        height: 60%;
    }
    .header {
        display: grid;
        grid-template-columns: 3fr 4fr 2fr;
    }
    .body main {
        flex-direction: column;

    }
    .body__buyCard {
        align-items: center;
    }
    .picture{
        height: 200px;
        object-fit: cover;
    }
}


@media only screen and (max-width:400px){
    .header {
        display: grid;
        grid-template-columns: 3fr 4fr 2fr;
    }
    .searchBox {
        width: 40%;
    }
    .indexCards {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:540px){
    .indexCards {
        flex-direction: column;
        align-items: center;
    }
    .nav {
        display: none;
    }
    .mainButton {
        width: 60%;
        height: 40%;
    }
}

@media only screen and (min-width:540px){
    .navBarChange {
        display: none;
    }
}

