@import "colors";

.nav{
    background-color: $navBarGrey;
    align-items: center;
    &__item{
        font-size: 1.1em;
        font-family: 'Bebas Neue';
        list-style: lower-alpha;
        list-style-type: none;
    }
    &-link {
        color: $white;
    }
}


